<html>
<head>
   <title>Index</title>
   <script src="javascripts/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
   <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
   <div id="banner">welcome to the magic page!</div>
</body>
<script>
   $('#banner').addClass('animated jello');
</script>
</html>