<html>
<script src="javascripts/jquery.min.js"></script>
<body>
<h2>Inner Tool</h2>
<button id="submit">Update CityDirectory</button>Progress:
<span id="progress">0%</span>
</body>
<script>
    $("#submit").click(function () {
        var pwd = prompt("enter the pwd");
        $.get("//house-sv-base.focus.cn/tool/updateCityDirectoryInfo?pwd=" + pwd, function (data) {
            if(data.code != 1){
                alert(data.msg);
            }
        });
        var t = setInterval(function(){
            $.get("//house-sv-base.focus.cn/tool/progress",function (res) {
                $("#progress").text(res.data);
                if(res.data == "101%"){
                    $("#progress").text("done");
                }
            });
        }, 5000);
    });
</script>
</html>
